<form action="http://localhost:3000/cats/<%=@cat.id%>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value=<%=@cat.name%>>
  <label for="cat_age">Age</label>
  <input type="number" name="cat[age]" id="cat_age" value=<%=@cat.age%>>
  <label for="cat_color">Color</labe
    l>
  <select name="cat[color]" id="cat_color" value="<%=@cat.color%>">
  <% @colors.each do |color| %>
    <option <%= 'selected' if color == @cat.color %>
      value="<%=color%>"> <%=color%> </option>
  <% end %>
  </select>
  <label for="cat_sex">Sex</label>
  <input type="text" name="cat[sex]" id="cat_sex" value=<%=@cat.sex%>>
  <label for="cat_birth_date">Birthday</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value=<%=@cat.birth_date%>>

  <input type="submit" value="Edit cat">
</form>